In [104]:
import pandas as pd 
import requests

In [105]:
from bs4 import BeautifulSoup

In [106]:
# Response[403] means request rejected
requests.get('https://www.ambitionbox.com/list-of-companies?page=1').text

'<HTML><HEAD>\n<TITLE>Access Denied</TITLE>\n</HEAD><BODY>\n<H1>Access Denied</H1>\n \nYou don\'t have permission to access "http&#58;&#47;&#47;www&#46;ambitionbox&#46;com&#47;list&#45;of&#45;companies&#63;" on this server.<P>\nReference&#32;&#35;18&#46;4f6d3f17&#46;1670762995&#46;74abdc8\n</BODY>\n</HTML>\n'

In [107]:
headers = {'User-Agent':"Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Mobile Safari/537.36"}

webpage = requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers=headers).text

In [108]:
# lxml = html parser - easly traverse in it
soup = BeautifulSoup(webpage,'lxml')

In [109]:
soup.find_all('h1')[0].text

'List of companies in India'

In [14]:
len(soup.find_all('h2')) # total 30 companies

30

In [17]:
for i in soup.find_all('h2'):
    print(i.text.strip())

TCS
Accenture
Cognizant
ICICI Bank
HDFC Bank
Wipro
Infosys
Capgemini
Tech Mahindra
Genpact
HCLTech
Amazon
Axis Bank
IBM
Concentrix Corporation
Reliance jio
Larsen & Toubro Limited
Vodafone Idea
HDB Financial Services
Teleperformance
Kotak Mahindra Bank
Reliance Industries
Reliance Retail
Bharti Airtel
Deloitte
Tata Motors
BYJU'S
WNS
Flipkart
Mahindra & Mahindra

In [21]:
for i in soup.find_all('p',class_='rating'): 
    print(i.text.strip())

3.9
4.1
3.9
4.0
4.0
3.9
3.9
3.9
3.7
4.0
3.8
4.3
3.9
4.2
4.0
4.0
4.1
4.2
4.0
3.6
3.9
4.1
4.1
4.1
4.1
4.1
3.5
3.7
4.2
3.9

In [25]:
for i in soup.find_all('a',class_='review-count sbold-Labels'):
    print(i.text.strip())

(51.1k Reviews)
(33.1k Reviews)
(30.3k Reviews)
(35.5k Reviews)
(40.8k Reviews)
(29.4k Reviews)
(28.9k Reviews)
(24.5k Reviews)
(22.3k Reviews)
(20k Reviews)
(19k Reviews)
(18.8k Reviews)
(19.5k Reviews)
(15.9k Reviews)
(15.4k Reviews)
(15.4k Reviews)
(25.3k Reviews)
(14.1k Reviews)
(13.7k Reviews)
(14.8k Reviews)
(14.1k Reviews)
(45.1k Reviews)
(16.3k Reviews)
(13.1k Reviews)
(10.5k Reviews)
(12.7k Reviews)
(12.5k Reviews)
(7.2k Reviews)
(11.8k Reviews)
(40.5k Reviews)

In [38]:
soup.find_all('p',class_='infoEntity')

[<p class="infoEntity"><i class="icon-pin-drop"></i>
 						Mumbai,Maharashtra + 280 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Dublin + 144 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Teaneck. New Jersey. + 101 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Mumbai,Maharashtra + 1051 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Mumbai,Maharashtra + 1230 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Bangalore/Bengaluru,Karnataka + 232 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Bengaluru/Bangalore,Karnataka + 128 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Paris + 80 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Pune,Maharashtra + 219 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						New York,New York + 68 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Noida + 143 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Seattle,Washington + 394 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Mumbai,Maharashtra + 1091 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Armonk,New York + 123 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Fremont,California + 71 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Navi Mumbai,Maharashtra + 980 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Mumbai,Maharashtra + 526 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Gandhinagar,Gujrat + 569 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Ahmedabad,Gujrat + 787 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Paris + 125 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Mumbai,Maharashtra + 478 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Navi Mumbai,Maharashtra + 492 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Navi Mumbai,Maharashtra + 668 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Gurgaon/Gurugram,Haryana + 516 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						New York,New York + 135 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Pune,Maharashtra + 395 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Bangalore,Karnataka + 244 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Mumbai,Maharashtra + 24 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Bangalore,Karnataka + 445 more
 					</p>,
 <p class="infoEntity"><i class="icon-pin-drop"></i>
 						Mumbai,Maharashtra + 411 more
 					</p>]

In [35]:
for i in soup.find_all('div',class_='company-basic-info'):
    print(i.text.strip())

Mumbai,Maharashtra + 280 more
Dublin + 144 more
Teaneck. New Jersey. + 101 more
Mumbai,Maharashtra + 1051 more
Mumbai,Maharashtra + 1230 more
Bangalore/Bengaluru,Karnataka + 232 more
Bengaluru/Bangalore,Karnataka + 128 more
Paris + 80 more
Pune,Maharashtra + 219 more
New York,New York + 68 more
Noida + 143 more
Seattle,Washington + 394 more
Mumbai,Maharashtra + 1091 more
Armonk,New York + 123 more
Fremont,California + 71 more
Navi Mumbai,Maharashtra + 980 more
Mumbai,Maharashtra + 526 more
Gandhinagar,Gujrat + 569 more
Ahmedabad,Gujrat + 787 more
Paris + 125 more
Mumbai,Maharashtra + 478 more
Navi Mumbai,Maharashtra + 492 more
Navi Mumbai,Maharashtra + 668 more
Gurgaon/Gurugram,Haryana + 516 more
New York,New York + 135 more
Pune,Maharashtra + 395 more
Bangalore,Karnataka + 244 more
Mumbai,Maharashtra + 24 more
Bangalore,Karnataka + 445 more
Mumbai,Maharashtra + 411 more

## Better Approach

In [110]:
# Containers of 1 page
containers = soup.find_all('div',class_="company-content-wrapper")

In [111]:
containers[0]  #first container

<div class="company-content-wrapper"><div class="company-content"><div class="company-logo"><img alt="Tata Consultancy Services logo" class="lazy" data-src="https://static.ambitionbox.com/assets/v2/images/rs:fit:200:200:false:false/bG9jYWw6Ly8vbG9nb3Mvb3JpZ2luYWxzL3Rjcy5qcGc.webp" height="48" onerror="this.onerror=null;this.src='/static/icons/company-placeholder.svg';" src="https://static.ambitionbox.com/static/icons/company-placeholder.svg" width="48"/></div> <div class="company-info-wrapper"><div class="company-info"><div class="left"><a href="/overview/tcs-overview"><h2 class="company-name bold-title-l" title="TCS">
									TCS
								</h2></a> <div class="rating-wrapper"><p class="rating badge-large rating-35"><i class="icon icon-star"></i>
									3.9
								</p> <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/tcs-reviews">
									(51.1k Reviews)
								</a></div></div> <button class="ab_btn follow-btn invert round"><span class="ctas-btn-medium">Follow</span></button></div> <!-- --> <!-- --> <!-- --></div></div> <div><div class="leaf-list-wrapper noscrollbars-sm mg-btm-16 mg-top-4" data-v-1018e3e7=""><div class="award-leaf" data-v-1018e3e7="" data-v-57e129ff=""><img alt="award" data-v-57e129ff="" height="26" src="https://static.ambitionbox.com/static/awards/black-theme/golden-leaf-left.png" width="15"/> <img alt="AmbitionBox awards" class="ambox-logo" data-v-57e129ff="" height="17" src="https://static.ambitionbox.com/static/awards/black-theme/gold-ambox-logo.svg" width="15"/> <p data-v-57e129ff="">#6 Best Mega Company - 2021</p> <img alt="award" data-v-57e129ff="" height="26" src="https://static.ambitionbox.com/static/awards/black-theme/golden-leaf-right.png" width="15"/></div><div class="award-leaf" data-v-1018e3e7="" data-v-57e129ff=""><img alt="award" data-v-57e129ff="" height="26" src="https://static.ambitionbox.com/static/awards/black-theme/golden-leaf-left.png" width="15"/> <img alt="AmbitionBox awards" class="ambox-logo" data-v-57e129ff="" height="17" src="https://static.ambitionbox.com/static/awards/black-theme/gold-ambox-logo.svg" width="15"/> <p data-v-57e129ff="">#2 Best Mega IT/ITES Company - 2021</p> <img alt="award" data-v-57e129ff="" height="26" src="https://static.ambitionbox.com/static/awards/black-theme/golden-leaf-right.png" width="15"/></div> <!-- --></div> <div class="company-basic-info"><p class="infoEntity"><i class="icon-pin-drop"></i>
						Mumbai,Maharashtra + 280 more
					</p></div> <ul class="chips-block"><li><a class="ab_chip body-medium" data-filter-name="chips_Company-Tags_bpo" href="/bpo-companies-in-india" title="BPO companies in India">
							BPO
						</a></li><li><a class="ab_chip body-medium" data-filter-name="chips_Company-Tags_it-services-and-consulting" href="/it-services-and-consulting-companies-in-india" title="IT Services &amp; Consulting companies in India">
							IT Services &amp; Consulting
						</a></li><li><a class="ab_chip body-medium" data-filter-name="chips_Company-Tags_forbesglobal2000" href="/forbesglobal2000-companies-in-india" title="Forbes Global 2000 companies in India">
							Forbes Global 2000
						</a></li><li><a class="ab_chip body-medium" data-filter-name="chips_Company-Tags_fortune500" href="/fortune500-companies-in-india" title="Fortune India 500 companies in India">
							Fortune India 500
						</a></li><li><a class="ab_chip body-medium" data-filter-name="chips_Company-Tags_public" href="/public-companies-in-india" title="Public companies in India">
							Public
						</a></li><li><a class="ab_chip body-medium" data-filter-name="chips_Company-Tags_mumbai" href="/companies-in-mumbai" title="Companies in Mumbai,Maharashtra">
							Mumbai,Maharashtra
						</a></li></ul></div> <meta content="We ensure the highest levels of certainty and satisfaction through a deep-set commitment to our clients, comprehensive industry expertise and a global network of innovation and delivery centers.

We function as a full stakeholder to business, offering a consulting-led approach with an integrated portfolio of technology led solutions that encompass the entire Enterprise value chain. Our Customer-centric Engagement Model defines how we do engage with you, offering specialized services and solutions that meet the distinct needs of your business.

We build bespoke teams around your domain and technology requirements drawn from our talent pool of over 488,649 global professionals including 36.5% women from 154 nationalities. Our domain expertise has been built upon decades of experience working across industries and this knowledge underpins our suite of solutions.

Our organization structure is domain led and empowered to help provide Customers a single window to industry specific solutions. Agile industry units have embedded capabilities to enable rapid responses that provide a competitive edge to our Customers. This is coupled with a unique Global Network Delivery Model™ (GNDM™), spanning 40 global locations, that is today recognized as the benchmark of excellence in technology deployment.

We have made significant investments in Digital platforms and products spanning Technology Products, Horizontal Platforms and Products, Vertical Platforms and Products." itemprop="description"/></div>

In [120]:
companies_names = []
star_rating = []
reviews = [] 
office_locations = []
about = []


for i in containers:
    companies_names.append(i.find('h2').text.strip()) 
    star_rating.append(i.find('p',class_='rating').text.strip())
    reviews.append(i.find('a',class_='review-count sbold-Labels').text.strip()) 
    office_locations.append(i.find('p',class_ = 'infoEntity').text.strip() ) 
#     about.append(i.find('meta')) 
    
d = {'companies_names':companies_names,'star_rating':star_rating, 'reviews':reviews,'office_locations':office_locations}
df = pd.DataFrame(d)
df

,companies_names,star_rating,reviews,office_locations
0,TCS,3.9,(51.1k Reviews),"Mumbai,Maharashtra + 280 more"
1,Accenture,4.1,(33.1k Reviews),Dublin + 144 more
2,Cognizant,3.9,(30.3k Reviews),Teaneck. New Jersey. + 101 more
3,ICICI Bank,4.0,(35.5k Reviews),"Mumbai,Maharashtra + 1051 more"
4,HDFC Bank,4.0,(40.8k Reviews),"Mumbai,Maharashtra + 1230 more"
5,Wipro,3.9,(29.4k Reviews),"Bangalore/Bengaluru,Karnataka + 232 more"
6,Infosys,3.9,(28.9k Reviews),"Bengaluru/Bangalore,Karnataka + 128 more"
7,Capgemini,3.9,(24.5k Reviews),Paris + 80 more
8,Tech Mahindra,3.7,(22.3k Reviews),"Pune,Maharashtra + 219 more"
9,Genpact,4.0,(20k Reviews),"New York,New York + 68 more"
10,HCLTech,3.8,(19k Reviews),Noida + 143 more
11,Amazon,4.3,(18.8k Reviews),"Seattle,Washington + 394 more"
12,Axis Bank,3.9,(19.5k Reviews),"Mumbai,Maharashtra + 1091 more"
13,IBM,4.2,(15.9k Reviews),"Armonk,New York + 123 more"
14,Concentrix Corporation,4.0,(15.4k Reviews),"Fremont,California + 71 more"
15,Reliance jio,4.0,(15.4k Reviews),"Navi Mumbai,Maharashtra + 980 more"
16,Larsen & Toubro Limited,4.1,(25.3k Reviews),"Mumbai,Maharashtra + 526 more"
17,Vodafone Idea,4.2,(14.1k Reviews),"Gandhinagar,Gujrat + 569 more"
18,HDB Financial Services,4.0,(13.7k Reviews),"Ahmedabad,Gujrat + 787 more"
19,Teleperformance,3.6,(14.8k Reviews),Paris + 125 more
20,Kotak Mahindra Bank,3.9,(14.1k Reviews),"Mumbai,Maharashtra + 478 more"
21,Reliance Industries,4.1,(45.1k Reviews),"Navi Mumbai,Maharashtra + 492 more"
22,Reliance Retail,4.1,(16.3k Reviews),"Navi Mumbai,Maharashtra + 668 more"
23,Bharti Airtel,4.1,(13.1k Reviews),"Gurgaon/Gurugram,Haryana + 516 more"
24,Deloitte,4.1,(10.5k Reviews),"New York,New York + 135 more"
25,Tata Motors,4.1,(12.7k Reviews),"Pune,Maharashtra + 395 more"
26,BYJU'S,3.5,(12.5k Reviews),"Bangalore,Karnataka + 244 more"
27,WNS,3.7,(7.2k Reviews),"Mumbai,Maharashtra + 24 more"
28,Flipkart,4.2,(11.8k Reviews),"Bangalore,Karnataka + 445 more"
29,Mahindra & Mahindra,3.9,(40.5k Reviews),"Mumbai,Maharashtra + 411 more"

<!--  not working , idon'i know why -->
public_private = [] 
office_locations = []
established_years = [] 
total_employees = [] 

public_private.append(i.find_all('p',class_ = 'infoEntity')[0].text.strip())
office_locations.append(i.find_all('p',class_ = 'infoEntity')[1].text.strip())
established_years.append(i.find_all('p',class_ = 'infoEntity')[2].text.strip())
total_employees.append(i.find_all('p',class_ = 'infoEntity')[3].text.strip())

find() function - return the first element of given tag. 
find_all() function - return the all the element of given tag.

In [124]:
# Apply for all pages 333 pages 

final = pd.DataFrame()
for j in range(1,333):
    
    url = 'https://www.ambitionbox.com/list-of-companies?page={}'.format(j)
    
    headers = {'User-Agent':"Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Mobile Safari/537.36"}
    webpage = requests.get(url,headers=headers).text  
    
    containers = soup.find_all('div',class_="company-content-wrapper")  
    
    companies_names = []
    star_rating = []
    reviews = [] 
    office_locations = []
    about = []


    for i in containers:
        companies_names.append(i.find('h2').text.strip()) 
        star_rating.append(i.find('p',class_='rating').text.strip())
        reviews.append(i.find('a',class_='review-count sbold-Labels').text.strip()) 
        office_locations.append(i.find('p',class_ = 'infoEntity').text.strip() ) 

    
    d = {'companies_names':companies_names,'star_rating':star_rating, 'reviews':reviews,'office_locations':office_locations}
    df = pd.DataFrame(d) # One page
    final=final.append(df, ignore_index = True) #all pages

In [125]:
final.shape

(9960, 4)

In [126]:
final

,companies_names,star_rating,reviews,office_locations
0,TCS,3.9,(51.1k Reviews),"Mumbai,Maharashtra + 280 more"
1,Accenture,4.1,(33.1k Reviews),Dublin + 144 more
2,Cognizant,3.9,(30.3k Reviews),Teaneck. New Jersey. + 101 more
3,ICICI Bank,4.0,(35.5k Reviews),"Mumbai,Maharashtra + 1051 more"
4,HDFC Bank,4.0,(40.8k Reviews),"Mumbai,Maharashtra + 1230 more"
...,...,...,...,...
25,Tata Motors,4.1,(12.7k Reviews),"Pune,Maharashtra + 395 more"
26,BYJU'S,3.5,(12.5k Reviews),"Bangalore,Karnataka + 244 more"
27,WNS,3.7,(7.2k Reviews),"Mumbai,Maharashtra + 24 more"
28,Flipkart,4.2,(11.8k Reviews),"Bangalore,Karnataka + 445 more"
29,Mahindra & Mahindra,3.9,(40.5k Reviews),"Mumbai,Maharashtra + 411 more"